# .NET 編譯輸出
bin/
obj/

# Visual Studio 文件
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.cache
*.vspscc
*.vssscc

# Visual Studio Code 文件
.vscode/

# ReSharper 文件
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# 測試結果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet 包
*.nupkg
# NuGet Symbol 包
*.snupkg
# NuGet 包文件夾
**/[Pp]ackages/*
# 除非你想要檢查 NuGet 包復原
!**/[Pp]ackages/build/
# 在版本控制中忽略 project.json 生成的部分
artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# 日誌文件
*.log